{
  "env": {
    "jest/globals": true
  },
  "extends": ["airbnb-base", "plugin:jest/recommended"],
  "plugins": ["jest"],
  "rules": {
    "arrow-body-style": "off",
    "arrow-parens": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["**/*.test.js", "**/setupTests.js"]
      }
    ],
    "semi": [2, "never"],
    "sort-keys": [
      "error",
      "asc",
      {
        "caseSensitive": false,
        "natural": true
      }
    ]
  }
}
